<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #form{
            border: 4px gray solid;
            width: 400px;
            height: 300px;
            margin: 30px auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        h1{
            width: 500px;
            margin: 0 auto;
            font-size: 2em;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 >Add a new user</h1>
    <form action="/create_new_user" method="POST">
        <div id="form">
            <div class="mb-3">
                <label for="fname">First Name:</label>
                <input type="text" name="fname">
            </div>
            <div class="mb-3">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname">
            </div>
            <div  class="mb-3 form-check">
                <label for="email" >Email:</label>
                <input type="text" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form> 

    <form action="/userList" method="POST">
        <button  class="btn btn-primary" type="submit">Check user list</button>
    </form>
</body>
</html>