<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #showUserList{
            margin: 30px;
        }
    </style>
</head>
<body>
    <nav>
        <h1 style="text-align: center;">User {{session['user_id']}}</h1>
        <form action="/userList" method="POST">
            <button id="showUserList" class="btn btn-info" type="submit">Check user list</button>
        </form>
    </nav>
    <div class="card" style="width: 25rem;">
        {% for info in theUser %}
                <p>Full Name: {{ info.first_name }}<span> </span> {{ info.last_name }}</p>
                <p>Email: {{ info.occupation }}</p>
                <p>Created On: {{ (info.created_at).strftime('%B %d, %Y') }}</td>
                <p>Last Updated On: {{ (info.updated_at).strftime('%B %d, %Y') }} at {{ (info.updated_at).strftime('%I:%M %p') }}</td>
        {% endfor %}
    </div>
    <div style="display: flex; gap: 10px">
        <form action="/editNow" method="post"><input type="hidden" name="user_card" value = {{ session['user_id'] }}><a href="#" onclick="this.parentNode.submit()">Edit</a></form>|
        <form action="/deleteNow" method="post"><input type="hidden" name="user_card" value = {{ session['user_id'] }}><a href="#" onclick="this.parentNode.submit()">Delete</a></form>
    </div>
</body>
</html>