{% extends "add_recipes.html" %}


{% block content %}
<nav id = "navbar" class="d-flex justify-content-between align-items-center">
    <p class="h3 text-success"> Edit Recipe!</p>
    <div  class="d-flex justify-content-end">
        <a href="/dashboard" class="btn btn-secondary me-3 btn-sm">Back</a>
        <a href="/logout" class="btn btn-outline-danger btn-sm">logout</a>
    </div>
</nav>

<form action="/edit_recipe" method="post">
    <main id="main">
        {% with messages = get_flashed_messages(category_filter = ["add_recipe"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="form-text">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="mb-3 col">
                <label for="name col" class="form-label">Name: </label>
                <input name="name" type="text" class="form-control" id="name" value="{{ recipe_id.name }}">
            </div>
            <div class="mb-3 col">
                <label for="date" class="form-label">Date Cooked/Made: </label>
                <input name="date" type="date" class="form-control" id="date" value={{ recipe_id.date }}.format('YYYY-MM-DD');>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea name="description" class="form-control" id="description" rows="3">{{ recipe_id.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="instruction" class="form-label">Instruction: </label>
            <textarea name="instruction" class="form-control" id="instruction" rows="3">{{ recipe_id.instruction }}</textarea>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <h5>Under 30 minutes?</h5>
            <div class="row">
                <div class="form-check col-3 ms-3 my-3">
                    <input class="form-check-input" type="radio" name="under" id="select_time" value="yes"  {% if recipe_id.under == "yes": %} checked {% endif %}>
                    <label class="form-check-label" for="select_time">
                        Yes
                    </label>
                </div>
                <div class="form-check col-3 my-3">
                    <input class="form-check-input" type="radio" name="under" id="select_time" value="no" {% if recipe_id.under == "no": %} checked {% endif %}>
                    <label class="form-check-label" for="select_time">
                        No
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" name="recipe_id" value="{{ recipe_id.id }}">
        <button type="submit"  class="btn btn-success my-3 col-3">Submit</button>
    </main>
</form>
{% endblock %}