{% extends "add_recipes.html" %}


{% block content %}
<nav id = "navbar" class="d-flex justify-content-between align-items-center">
    <p class="h3 text-success">Welcome {{ session["first_name"] }}!</p>
    <div  class="d-flex justify-content-end">
        <a href="/dashboard" class="btn btn-secondary me-3 btn-sm">Back</a>
        <a href="/logout" class="btn btn-outline-danger btn-sm">logout</a>
    </div>
</nav>

<main id="main">
    <div class="d-flex justify-content-between">
        <h4>{{ recipe_id.name }}</h4>
        <h6  class="badge rounded-pill text-bg-dark"><span class="align-middle m-2">Posted by {{ recipe_id.first_name }}</span></h6>
    </div>
    <table class="table table-striped-column">
        <tr>
            <td><b>Description:</b></td>
            <td>{{ recipe_id.description }}</td>
        </tr>
        <tr>
            <td><b>Under 30 minutes?:</b></td>
            <td>{{ recipe_id.under }}</td>
        </tr>
        <tr>
            <td><b>Instruction:</b></td>
            <td>{{ recipe_id.instruction }}</td>
        </tr>
        <tr>
            <td><b>Date Made:</b></td>
            <td>{{ recipe_id.date }}</td>
        </tr>
    </table>
    {% endblock %}
</main>