{% extends "add_shows.html" %}


{% block content %}
<nav id = "navbar" class="d-flex justify-content-between align-items-center">
    <p></p>
    <div  class="d-flex justify-content-end">
        <a href="/shows" class="btn btn-secondary me-3 btn-sm">Back</a>
        <a href="/logout" class="btn btn-outline-danger btn-sm">logout</a>
    </div>
</nav>

<main id="main">
    <div class="d-flex justify-content-between">
        <h2>{{ show_id[1].title }}</h2>
        <h6  class="badge rounded-pill text-bg-dark"><span class="align-middle m-2">Liked by {{ show_id[0].like_count }}</span></h6>
    </div>
    <table class="table table-striped-column">
        <tr>
            <td><b>Network:</b></td>
            <td>{{ show_id[1].network }}</td>
        </tr>
        <tr>
            <td><b>Release Date:</b></td>
            <td>{{ show_id[1].date }}</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>{{ show_id[1].description }}</td>
        </tr>
        <tr>
            <td><b>Posted By:</b></td>
            <td>{{ show_id[1].first_name }} {{ show_id[1].last_name }}</td>
        </tr>
    </table>
    {% endblock %}
</main>