<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Show</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #action{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;"><span class="badge text-bg-light">{{ authorName }} 's favorites</span></h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for each_info in showAuthor %}
                <tr>
                    <td>{{ each_info.title }}</td>
                    <td>{{ each_info.num_of_pages }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 style="text-align: center;"><span class="badge text-bg-light">Add Author's Favorite</span></h1>
    <form action="/add_author_favorite" method="post">
        <label for="bookList">Book: </label>
        <select name="bookList" id="bookList">
            <option value = '0'>---Books---</option>
            {% set books_exit = [] %}
            {% for dict in showAuthor: %}
                {{ books_exit.append(dict.title) }}
            {% endfor %}
            {% for each_info in books: %}
                {% if each_info.title not in books_exit: %}
                    <option value={{ each_info.id }}>{{each_info.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="hidden" name="authorid" value={{ authorid }}>
        <input type="hidden" name="authorName" value="{{ authorName }}">
        <button type="submit">Add</button>
    </form>

    <a href="/authors" class="btn btn-primary" style="margin: 40px;">Back</a>
</body>
</html>