<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Show</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #action{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;"><span class="badge text-bg-light">Title: {{ bookName }}</span></h1>
    <div class="card" style="width: 18rem; margin: 20px auto;">
        {% for each_info in showBook %}
            <a href="/showAuthor/{{ each_info.id}}/{{ each_info.name}}">{{ each_info.name }}</a><br>
        {% endfor %}
    </div>

    <h1 style="text-align: center;"><span class="badge text-bg-light">Add Book's Favorite</span></h1>
    <form action="/add_book_favorite" method="post">
        <label for="authorList">Author: </label>
        <select name="authorList" id="authorList">
            <option value = '0'>---Authors---</option>
            {% set authors_exit = [] %}
            {% for dict in showBook: %}
                {{ authors_exit.append(dict.name) }}
            {% endfor %}
            {% for each_info in authors: %}
                {% if each_info.name not in authors_exit: %}
                    <option value={{ each_info.id }}>{{each_info.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="hidden" name="bookid" value={{ bookid }}>
        <input type="hidden" name="bookName" value="{{ bookName }}">
        <button type="submit">Add</button>
    </form>
    <a href="/books" class="btn btn-primary" style="margin: 40px;">Back</a>
</body>
</html>