<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <style>
        .color0{
            background-color: {{color1}};
        }

        .color1{
            background-color: {{color2}};
        }
        nav{
            background-color: {{color2}};
            color: {{color1}};
            font-size: 2em;
            width: 30vw;
            display: flex;
            justify-content: center;
            margin: 3vh auto;
        }

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav><b>***Checkerboard***</b></nav>
    {%for i in range(0, x):%}
        <br>
        {%for j in range(0, y):%}
            <div class="color{{(i+j)%2}}"></div>
        {%endfor%}
    {%endfor%}

</body>
</html>