*{
    padding: 0;
    margin: 0;
}


nav{
    background-color: {{color2}};
    color: {{color1}};
    font-size: 2em;
    width: 30vw;
    display: flex;
    justify-content: center;
    margin: 3vh auto;
}

div{
    background-color: pink;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: -2.8px -2.5px;
}


main{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.colorOne{
    background-color: {{color1}};
}

.colorTwo{
    background-color: {{color2}};
}